$theme-colors: (
  "primary":#d9325e,
  "secondary":#213a40,
  "light":  #d9325e,
  "danger": #213a40,
  "warning": #f2b56b
);
$link-color: white;
$link-hover-color:#f2b56b;
$table-color:#f2b56b;
$carousel-control-color:#d9325e;