main{
    .loginTitle{
        font-family: $text-font;
        font-size: $title-size;
        color:$color-black;
    }
    .login{
        background-color: $color-yellow;
        border-radius: 20px;
    }
}
