.inicio{
    background-color:$color-grey;
    padding: 20px;
    .bienvenida{
        padding: 20px;
        border-radius: 10px;
        background-color: $color-violet;
        h1{
            font-size: $title-size;
            color: $color-yellow;
            font-family: $text-font;
            text-align: center;
        }
        p{
            font-family: $text-font;
            color:$color-grey;
        }
    }
    .sugerencia{
        padding: 20px;
        border-radius: 10px;
        background-color: $color-violet;
        h2{
            font-size: $title-size;
            color: $color-yellow;
            font-family: $text-font;
            text-align: center;
        }
        p{
            font-family: $text-font;
            color:$color-grey;
        }
    }
}
.presentacion{
    background-color: $color-yellow;
    div{
        padding: 20px;
    border-radius: 10px;
    background-color: $color-violet;
    h3{
        text-align: center;
        color: $color-yellow;
        font-family: $text-font;
    }
    p{
        text-align: center;
        font-family: $text-font;
        color: $color-grey;
    }
    }
}