// map backgroun-color
$b-color:(
    cards:#d9325e,
    inicio:#F2F2F2,
);
$span: (
    primary:#f2b56b,
    secundary:#EFDB13,
);
@each $key, $var in $span {
    .span--#{$key}{
        color: $var;
    };
}