h1{
    font-size: $title-size;
    color: $color-violet;
    font-family: $text-font;
    text-align: center;
}
h2{
    font-size: $title-size;
    color: $color-violet;
    font-family: $text-font;
    text-align: center;
}