// Variables de texto
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
$text-font: 'Rubik', sans-serif;
$title-size:26px;
$subtitle-size:24px;
$text-size:16px;
// colores
$color-violet:#213a40;
$color-grey:#d9325e;
$color-black:#515A5A;
$color-yellow:#f2b56b;
// span