// Variables de texto
$text-font: 'Rubik', sans-serif;
$text-size:16px;
$title-size:24px;
$subtitle-size:20px;
// colores
$color-violet:#840BD8;
$color-grey:#F2F2F2;
$color-black:#515A5A;
$color-yellow:#EFDB13;